<!--
* MultiSearch - Search using multiple search engines.
* Copyright (C) 2020 Daniel Holm
* 
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MultiSearch</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body>
    <header>
      <div id="search-wrapper">
        <input id="search-input" type="search" placeholder="Search using multiple engines"></input><button id="search-button">Search</button>
      </div>
    </header>
    <main id="search-results">
      <script id="articles-template" type="x-tmpl-mustache">
        {{#articles}}
          <article>
            <h2><a href="{{link}}">{{title}}</a></h2>
            <a href="{{link}}">{{link}}</a>
            <p>{{details}}</p>
          </article>
      {{/articles}}
      </script>
    </main>
    <script src="./renderer.js"></script>
  </body>
</html>
