/**
 * MultiSearch - Search using multiple search engines.
 * Copyright (C) 2020 Daniel Holm
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: #000505;
}

body {
  width: 60%;
  margin: 0px auto;
}

header {
  padding: 5%;
  padding-left: 0px;
  padding-right: 0px;
}

h2, h2 a, p{
  color: #fefcfd;
}

h2 {
  margin-bottom: 0.5rem;
}

a {
  color: #D58C39;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  background-color: #000505;
  border: 0px;
  border-radius: 0.5rem;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  color: #fefcfd;
  padding: 2%;
  width: 80%;
}

button {
  background-color: #fefcfd;
  border: 0px;
  color: #000505;
  padding: 2%;
  width: 20%;
}

button:hover, button:focus {
  background-color: #D58C39;
}

#search-wrapper {
  border: 3px solid #fefcfd;
}

article {
  margin-bottom: 2.5rem;
}

p {
  margin-top: 0.8rem;
}